doctype 5
html
  head
    title Wine Memory - What wines did I like?
    link(rel='stylesheet', href='/css/winemem.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js')
    script(src='/js/winemem.js')
  body
    form(action='/', method='post')
      table
        thead
          tr
            th Wine
            th Grape
            th Color
            th Buy&nbsp;Again?
            th
          tr
            td: input#desc(type='text', name='name', size='56', value=name)
            td: input(type='text', name='grape', size='10', value=grape)
            td: select(name='color')
              for value in ['red', 'white', 'other']
                option(selected=color==value)= value
            td: select(name='buy_again')
              for value in ['unopened', 'yes', 'no', 'maybe']
                option(selected=buy_again==value)= value
            td
              input(type='submit', value='Update Wine')
              input(type='button', value='Cancel', onclick='history.back()')
