body
  margin-top: 10px
  margin-left: 10px

th
  background-position: 0 6
  text-align: left
  text-indent: 17px

.header
  background-image: url(/images/small.gif)
  background-repeat: no-repeat

.headerSortUp
  background-image: url(/images/small_asc.gif)
  background-repeat: no-repeat

.headerSortDown
  background-image: url(/images/small_desc.gif)
  background-repeat: no-repeat

tr.alt td
    background: #ecf6fc;
